@page
@model MyWebApp.Pages.Home

@{
    ViewBag.Title = "This is a test site";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-l">
        This is a test site
    </h1>
</div>