@page
@model MyWebApp.Pages.Index

@{
    ViewBag.Title = "This is a test site";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-l">
        This is a test site
    </h1>
</div>

<form method="post">
    <label class="govuk-label--m">Enter your name</label>
    <input class ="govuk-input"type="text" name="getName" />
    <input class ="govuk-button"type="submit" />
</form>